<span class="group move" data-bind="dropdown: {}, command: moveToFolderCommand,
	  visible: visibleMoveTool, customTooltip: 'MAILWEBCLIENT/ACTION_MOVE_TO_FOLDER'"
>
	<span class="item" data-bind="command: openMoveToFolderPopupCommand">
		<span class="icon"></span>
		<span class="text" data-bind="i18n: {'key': 'MAILWEBCLIENT/ACTION_MOVE_TO_FOLDER'}"></span>
	</span>
	<span class="item control" data-bind="command: openMoveHistoryCommand">
		<span class="icon arrow"></span>
		<span class="dropdown" data-bind="if: moveHistoryData().length > 0">
			<span class="dropdown_helper">
				<span class="dropdown_arrow"><span></span></span>
				<span class="dropdown_content" data-bind="foreach: moveHistoryData">
					<span class="item" data-bind="click: function () { $parent.openMoveToFolderPopup(accountId, folder); }">
						<span class="item_moveto_account" data-bind="text: accountEmail"></span>
						<span class="item_moveto_folder" data-bind="text: folderDisplayFullName"></span>
					</span>
				</span>
			</span>
		</span>
	</span>
</span>
